div
{
    width: 650px;
    margin-top: 30px;
    border-radius: 10px;
    height: 180px;
}

h2
{
    margin-top: -15px;
}

         
button {
    background-image: linear-gradient(to right, #003973 0%, #E5E5BE  51%, #003973  100%);
    margin: 8px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border-width: 0px;
  }

  button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  canvas
  {
    border-style: solid;
    border-color: #003973;
  }
 